.viewday-success-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.viewday-link-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.viewday-active-rules-header {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--text-faint);
}