.viewday-success-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.viewday-link-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}